[submodule "contrib/gtest"]
	path = contrib/gtest
	url = https://github.com/google/googletest.git
[submodule "contrib/fmt"]
	path = contrib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "contrib/replxx"]
	path = contrib/replxx
	url = https://github.com/AmokHuginnsson/replxx.git
[submodule "contrib/double-conversion"]
	path = contrib/double-conversion
	url = https://github.com/google/double-conversion.git
[submodule "contrib/pcg-random"]
	path = contrib/pcg-random
	url = https://github.com/imneme/pcg-cpp.git
[submodule "contrib/cctz"]
	path = contrib/cctz
	url = https://github.com/google/cctz.git
[submodule "contrib/dragonbox"]
	path = contrib/dragonbox
	url = https://github.com/ClickHouse/dragonbox.git
[submodule "contrib/magic_enum"]
	path = contrib/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "contrib/fast_float"]
	path = contrib/fast_float
	url = https://github.com/fastfloat/fast_float
[submodule "contrib/boost"]
	path = contrib/boost
	url = https://github.com/ClickHouse/boost.git
[submodule "contrib/miniselect"]
	path = contrib/miniselect
	url = https://github.com/danlark1/miniselect
[submodule "contrib/pdqsort"]
	path = contrib/pdqsort
	url = https://github.com/orlp/pdqsort.git
[submodule "contrib/lz4"]
	path = contrib/lz4
	url = https://github.com/lz4/lz4.git
[submodule "contrib/llvm"]
	path = contrib/llvm
	url = https://github.com/ClickHouse-Extras/llvm
[submodule "contrib/bzip2"]
	path = contrib/bzip2
	url = https://github.com/ClickHouse-Extras/bzip2.git
[submodule "contrib/brotli"]
	path = contrib/brotli
	url = https://github.com/google/brotli.git
[submodule "contrib/zstd"]
	path = contrib/zstd
	url = https://github.com/facebook/zstd.git
[submodule "contrib/xz"]
	path = contrib/xz
	url = https://github.com/xz-mirror/xz
[submodule "contrib/NuRaft"]
	path = contrib/NuRaft
	url = https://github.com/ClickHouse-Extras/NuRaft.git
	branch = 1707a7572aa66ec5d0a2dbe2bf5effa3352e6b2d
[submodule "contrib/abseil-cpp"]
	path = contrib/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
	branch = lts_2021_11_02
[submodule "contrib/poco"]
	path = contrib/poco
	url = https://github.com/ClickHouse-Extras/poco.git
	branch = clickhouse
[submodule "contrib/zlib-ng"]
	path = contrib/zlib-ng
	url = https://github.com/ClickHouse-Extras/zlib-ng.git
	branch = clickhouse-2.0.x
[submodule "contrib/re2"]
	path = contrib/re2
	url = https://github.com/google/re2.git
[submodule "contrib/curl"]
	path = contrib/curl
	url = https://github.com/curl/curl.git
[submodule "contrib/sentry-native"]
	path = contrib/sentry-native
	url = https://github.com/ClickHouse-Extras/sentry-native.git
[submodule "contrib/jemalloc"]
	path = contrib/jemalloc
	url = https://github.com/ClickHouse-Extras/jemalloc.git
[submodule "contrib/fmtlib"]
	path = contrib/fmtlib
	url = https://github.com/fmtlib/fmt.git
[submodule "contrib/yaml-cpp"]
	path = contrib/yaml-cpp
	url = https://github.com/ClickHouse-Extras/yaml-cpp.git
[submodule "contrib/boringssl"]
	path = contrib/boringssl
	url = https://github.com/ClickHouse-Extras/boringssl.git
